
billing_account="<google cloud billing account id>"
project_id=<"make up something unique (no idea why this isn't auto generated)>"
fb_app_id="<fb app id>"
fb_app_secret="<This can be found in the basic settings of your fb app in meta dev portal>"
