<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672792377038-tisiq0pahlet48lpjsjprv6j49u9oqc2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672792377038-tisiq0pahlet48lpjsjprv6j49u9oqc2</string>
	<key>API_KEY</key>
	<string>AIzaSyDXaz0aQiGyeL1zepcgv2keZy3L2oVsqnw</string>
	<key>GCM_SENDER_ID</key>
	<string>672792377038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bootstrapper.elliott</string>
	<key>PROJECT_ID</key>
	<string>sideproject-bootstrapper-55672</string>
	<key>STORAGE_BUCKET</key>
	<string>sideproject-bootstrapper-55672.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672792377038:ios:f223fd9f8a0c74b509c29f</string>
</dict>
</plist>